@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestão de Veículos</h1>
    <p>Aplicação ASP.NET com MVC para uma avaliação técnica em um processo seletivo</p>
    <br />
    <p> <a asp-controller="Veiculos" asp-action="Index">Clique aqui</a> para acessar a lista de veículos</p>
</div>
