@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestão de Veículos</h1>
    <p>Aplicação ASP.NET com MVC para uma avaliação técnica para a empresa <a href="https://www.bluefleet.com.br/">Blue Fleet</a></p>
<!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
